[Desktop Entry]
Version=1.0
Type=Application
Name=DAFI Desktop
Comment=Funeral advisory office - client management system
Comment[es]=Sistema de administración de clientes para despacho funerario
Exec=/app/bin/DAFI-Desktop
Icon=io.github.davichus1303.DAFI_desktop
Terminal=false
Categories=Office;
Keywords=client;clients;management;funeral;
Keywords[es]=clientes;funeraria;asesoría;administración;
StartupNotify=true
